@use 'reset';
@use 'common' as *;
@use 'components' as *;
@use 'pages';

@include createTypoScale($ratio: 'golden');

body {
  font-family: $default-font;
}

img {
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}
