@use '../common/utils' as *;
@use '../common/var' as *;

.main {
  &-l {
    &-container {
      text-align: center;

      &__body {
        justify-content: space-between;
      }
    }
  }

  &-c {
    &-blockquote {
      padding-right: 0;
    }

    &-button {
      width: 40%;
      aspect-ratio: 3/1;
      border: none;
      border-radius: 5px;
      background-color: $green-1;
      cursor: pointer;
    }

    &-image__box {
      @include center-block-vertical;
      max-width: 720px;
      max-height: 900px;

      img {
        border-radius: 10px;
        transition: all 1s;
      }
    }
  }
}

@media (min-width: 768px) {
  .main-l-container {
    @include center-block(10%, 'padding');
    text-align: start;
  }

  .main-c{
    &-blockquote {
      padding-right: 1.5rem;
    }
    &-button {
      width: 60%;
    }
  }
}
