@use '../common/var' as *;

.sl {
  &-c {
    &-navbar {
      background-color: $gray-1;
      border-bottom: 1px solid $gray-2;

      ul {
        list-style: none;
      }

      a {
        text-decoration: none;
        color: black;
      }

      &__expand-btn {
        position: relative;
        left: 50%;
        border: none;
        margin-top: 1.5rem;
      }

      &__expand-btn::after {
        content: "";
        width: 0;
        height: 0;
        border-top: 12px solid black;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
      }

      &__item {
        display: none;
      }

      .display {
        display: list-item;
      }

      .hide {
        display: none;
      }
    }
  }
}

@media (min-width: 768px) {
  .sl-c-navbar {
    li {
      display: inline-block;
    }

    &__expand-btn::after {
      display: none;
    }
  }
}
