@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Font */
$default-font: -apple-system,BlinkMacSystemFont,"Inter",sans-serif;

/* Color */
$primary-color: #d3d3d3;
$gray-1: #F2F2F2;
$gray-2: #C0C0C0;
$green-1: #AFE1AF;
$green-2: #DFFF00;
$green-3: #AAFF00;
